// user-variables.scss

$font-family-sans-serif:                                    "Source Sans Pro", sans-serif;
$font-family-monospace:                                     "Source Code Pro", monospace;

$black:                                                     #000;
$gray-100:                                                  #f8f9fa;

$body-bg:                                                   $gray-100;

$primary:                                                   $black;
$primary-darker:                                            $gray-900;
$primary-lighter:                                           $gray-700;

$theme-colors: map-merge((
  "black":                                                  $black,
), $theme-colors);

$header-nav-link-color:                                     $gray-700;
$header-nav-link-hover-color:                               $warning;

$link-hover-color:                                          $warning;

$container-max-widths: (
  lg: 960px,
);