@include media-breakpoint-up(lg) {
  .px-lg-15px {
    padding-left:  15px !important;
    padding-right: 15px !important;
  }
}

.value-proposition {
  font-size:   3rem;
  font-weight: 500;
}

.lead {
  line-height: 2.5rem;
  color:       $primary;
}

.text-small {
  font-size:   0.8rem;
}

.logo-img {
  max-height:  2rem;
}