.container.space-1.space-md-2.space-top-md-3.px-5.px-lg-15px

  h1.text-primary
    | Meet the crafters.

  .row.space-top-1.space-top-md-2

    .col-md-6.mb-5.mb-md-0
      .media.d-block.d-sm-flex
        .u-lg-avatar
          img.img-fluid.rounded-circle src="/assets/img/team/romain.jpeg"
        .media-body.ml-sm-4.mr-2
          h2.h5.text-lh-sm.mt-3.mt-sm-0
            | Romain Asnar
          p.font-size-1.text-justify
            | “I've done it all, from big corporations to early startups, all over the world 😎. I have lead a number of teams and fixed broken processes, toxic cultures and bad developer habits. But at the end of the day, what I love most is designing and architecting mobile apps, from ideation to release. If I'm not on my computer, odds are you'll find me on the dancefloor!”

    .col-md-6
      .media.d-block.d-sm-flex
        .u-lg-avatar
          img.img-fluid.rounded-circle src="/assets/img/team/nathan.png"
        .media-body.ml-sm-4.mr-2
          h2.h5.text-lh-sm.mt-3.mt-sm-0
            | Nathan Appere
          p.font-size-1.text-justify
            | “I have been very lucky to work in flat management, "all hands on deck" startups in ☀️ LA. I did A LOT of product / growth hacking / company culture design, but software engineering is still what I am the most passionate about. I've lead multiple teams and designed entire platforms. While I love backend most, I am quite obsessed with slick front-ends. When I'm not working you can find me scuba diving around the globe!”