/ Google Fonts
link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet"
link href="//fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,600,700" rel="stylesheet"
/ CSS Implementing Plugins
link href="assets/vendor/font-awesome/css/fontawesome-all.min.css" rel="stylesheet"
link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet"
link href="assets/vendor/hs-megamenu/src/hs.megamenu.css" rel="stylesheet"
link href="assets/vendor/fancybox/jquery.fancybox.css" rel="stylesheet"
link href="assets/vendor/dzsparallaxer/dzsparallaxer.css" rel="stylesheet"
/ CSS Template
link href="assets/css/application.css" rel="stylesheet"
