/ Go to Top
a.js-go-to.u-go-to data-compensation="#header" data-hide-effect="slideOutDown" data-offset-top="400" data-position='{"bottom": 15, "right": 15 }' data-show-effect="slideInUp" data-type="fixed" href="#"
  span.fas.fa-arrow-up.u-go-to__inner