/ Title
title double shrimp studio
/ Required Meta Tags Always Come First
meta charset="utf-8"
meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"

include src/content/partials/shared/_favicon.slim

include src/content/partials/shared/_css_dependencies.slim