/ JS Global Compulsory
script src="assets/vendor/jquery/dist/jquery.min.js"
script src="assets/vendor/bootstrap/bootstrap.min.js"

/ JS Implementing Plugins
script src="assets/vendor/svg-injector/dist/svg-injector.min.js"
script src="assets/vendor/appear.js"

/ JS Template
script src="assets/vendor/front/js/hs.core.js"
script src="assets/vendor/front/js/components/hs.header.js"
script src="assets/vendor/front/js/components/hs.scroll-nav.js"
script src="assets/vendor/front/js/components/hs.svg-injector.js"
script src="assets/vendor/front/js/components/hs.fancybox.js"
script src="assets/vendor/front/js/components/hs.validation.js"
script src="assets/vendor/front/js/components/hs.go-to.js"

include src/content/partials/shared/_js_drift